.feedContainer {

    padding-bottom: 60px;
    background-color: $branco;
    margin-top: 16px;

    .postagem{
        
        .avatar {
            height: 32px;
            width: 32px;
            text-decoration: none;
            margin-right: 8px;
        }
        
        .cabecalhoPostagem {
            display: flex;
            align-items: center;
            padding: 0px 12px;
            margin-bottom: 8px;
            
            
            
            strong {
                font-size: 12px;
                color: $cinza4;
                text-decoration: none;
            }
        }

        .fotoDaPostagem {
            
            img {
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
                
            }
        }

        .rodapeDaPostagem {
            padding: 5px 16px;
            
            strong.nomeUsuario {
                font-size: 12px;
                float: left;
                margin-right: 5px;
                color: $cinza4;
            }

            span.descricao{
                font-size: 12px;
                margin: 0px 0px 2px;
                color: $cinza4;

                .exibirDescricaoCompleta {
                    font-size: 12px;
                    color: $corPrimaria3;
                    margin-left: 4px;
                    cursor: pointer;
                }

                .exibirDescricaoMenor{
                    font-size: 12px;
                    color: $corPrimaria3;
                    margin-left: 4px;
                    cursor: pointer;
                }
                
            }

            .acoesDaPostagem{
                display: flex;
                align-items: center;
                margin-bottom: 6px;
                
                >img {
                    margin-right: 6px;
                }

                .quantidadeCurtidas{
                    font-family: $fontLight;
                    font-size: 10px;
                    color: $cinza4;

                    strong{
                        font-size: 10px;
                        color: $cinza4;
                    }
                    
                }
            }
            
            .comentariosDaPublicacao {
                max-height: 100px;
                overflow-y: auto;

            }
    

        }
        
        .containerFazerComentario{
            display: flex;
            padding: 0 12px;
            align-items: center;
            margin-bottom: 16px;
            
                textarea {
                    resize: none;
                    flex: 1;
                    max-width: 100%;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    color: $cinza2;
                    
                }
        }

        
    }

    @media screen and (min-width: $desktopBreakpoint) {
        padding-top: 8px;
        margin-top: 0px;

        .postagem {
            .cabecalhoPostagem{

                cursor: pointer;
            }


            .avatar {
                width: 42px;
                height:42px;
            }

            .rodapeDaPostagem{
                .acoesDaPostagem{
                    >img {
                        cursor: pointer;
                    }
                }

                .comentariosDaPublicacao {
                    max-height: 100px;
                    overflow-y: auto;
    
                }
            }

            .containerFazerComentario{
                margin-top: 12px;
                .btnPublicacao {
                    background-color: transparent;
                    border: none;
                    color: $corPrimaria;
                    outline: none;
                    font-size: 12px;
                    cursor: pointer;
                }
            }

        }
    }

}