.cabecalhoPrincipal {
    border-bottom: 0.5px solid $cinza1;

    .conteudoCabecalhoPrincipal{
        display: flex;
        padding: 8px 16px;
       
        .logoCabecalhoPrincipal{
            position: relative;
            width: 140px;
            height: 30px;
        }
        .barraPesquisa {
            position: relative;
            display: flex;
            flex: 1;
            margin-left: 16px;
            align-items: center;


            .containerImagemLupa{
                position: absolute;
                width: 20px;
                height: 20px;
                left: 8px;
            }

            input{
                background-color: $corPrimaria4;
                border: none;
                outline: none;
                font-size: 12px;
                font-family: $fontLight;
                padding: 8px 8px 8px 50px;
                border-radius: 4px;
                color: $corPrimaria;

                &:focus{
                    border: 1.5px solid $corPrimaria;
                }
            }
        }
    }

    .resultadoPesquisaContainer{
        position: absolute;
        background-color: $branco;
        width: 100%;
        z-index: 9;

            .resultadoPesquisa {
                display: flex;
                padding: 10px 16px;

                &:hover {
                    background-color: $cinza;
                }
                .avatar {
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }

                .informacoesUsuario {
                    >* { /*o > e * é usado para qualquer elemento em primeiro nivel recebe o estilo*/
                        display: block;
                        font-size: 12px;
                        color: $cinza4;
                    }
                }
            }

    }

    @media screen and (min-width: $desktopBreakpoint) {
        background-color: $branco;
        border: none;

            .conteudoCabecalhoPrincipal{
                max-width: 60%;
                margin: auto;
                align-items: center;
                justify-content: center;

                    .logoCabecalhoPrincipal{
                        width: 200px;
                        cursor: pointer;
                    }
                    .barraPesquisa{
                        flex: 0.5;
                        margin: 0px 10px 0px 30px;

                            input {
                                width: 100%;
                            }
                    }

                    .barraNavegacao {
                        ul {
                            li {
                                margin: 0px 0px 0px 20px;

                            }
                        }
                    }
            }

            .resultadoPesquisaContainer{
                width: 30%;
                margin: auto;
                left: 6.5%;
                right: 0;
                cursor: pointer;
                box-shadow: 0px 2px 4px $cinza1;

            }
    }
}