@font-face {
    font-family: 'Biennale Regular';
    src: url(biennaleRegular.otf) format('opentype');
}

@font-face {
    font-family: 'Biennale Bold';
    src: url(biennaleBold.otf) format('opentype');
}

@font-face {
    font-family: 'Biennale Light';
    src: url(biennaleLight.otf) format('opentype');
}