
.inputPublicoContainer {

    .inputPublico{
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid $corPrimaria;
        
        input {
            border: none;
            outline: none;
            color: $corPrimaria;
            flex: 1;
            margin-top: 3px;
            margin-left: 10px;
        
        }
    }
}